@font-face {
    font-family: 'SF-Pro';
    src: url('assets/fonts/SF-Pro.ttf');
}
@font-face {
    font-family: 'SF-Pro-Italic';
    src: url('assets/fonts/SF-Pro-Italic.ttf');
}
@font-face {
    font-family: 'SF-Pro-Text-Regular';
    src: url('assets/fonts/SF-Pro-Text-Regular.otf');
}

/*/////////////////////// GENERAL ///////////////////////*/

main{
    background-color: #1c2930;
    margin: 0;
    padding: 0;
}

#main-article {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 5% 0 10% 0;
}

#main-article h1, h2, h3 {
    font-family: 'SF-Pro-Text-Regular', sans-serif;
    color: white;
}

#main-article p {
    font-family: 'SF-Pro-Italic', sans-serif;
    font-style: italic;
    color: white;
}

#main-article h1, h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-article h1 {
    font-size: 3.5em;
    font-weight: bolder;
    margin: 0 0 2.5% 0;
    padding: 0;
}

#main-article h2 {
    font-size: 2em;
    font-weight: normal;
    margin: 0 0 1% 0;
    padding: 0;
}

.main-article-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.odd-content {
    width: 90%;
    margin: 1.5% 0 0 0;
}

.odd-content h3 {
    display: flex;
    justify-content: left;
    align-items: center;
}

.odd-content img {
    display: flex;
    align-items: center;
    width: 15%;
    height: auto;
}

.odd-content p {
    display: flex;
    justify-content: left;
    align-items: center;
}

.even-content {
    margin: 1.5% 0 0 0;
    width: 90%;
}

.even-content h3 {
    display: flex;
    justify-content: right;
    align-items: center;
}

.even-content img {
    display: flex;
    align-items: center;
    margin-left: auto;
    width: 15%;
    height: auto;
}

.even-content p {
    display: flex;
    justify-content: right;
    align-items: center;
}

